.gitconfig
.viminfo
.zcompdump
.zsh_history
.ssh
.gem
.rvm
yankring_history_v2.txt
Downloads
.DCOPserver*
.mysql_history
*.log
.mediatomb
.sinan
.rvmrc
gem*
.gconf*
.ICEauthority
.bash*
.gftp
.Xauthority
.kde*
.dbus
.aptitude
.cache
.config
.mcop*
.bundler
Desktop
.heroku
projects
.fontconfig
.gkrellm2
.local
erlang
.npm
