[user]
	name = Yomi Colledge
	email = baphled@boodah.net

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[color "status"]
  added = yellow
  changed = green
  untracked = magenta

[github]
	user = baphled

[alias]
  # Pull in remote changes for the current repository and all its submodules
  p = !"git pull; git submodule foreach git pull origin master"
  # Clone a repository including all submodules
  c = clone --recursive
  st = status
  ci = commit
  co = checkout
  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
  # `git di $number` shows the diff between the state `$number` revisions ago and the current state
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  h = !git head
  ra = !git r --all
  ff = merge --ff-only
  pullff = pull --ff-only
  noff = merge --no-ff
  l = log --graph --abbrev-commit --date=relative 
  head = !git l -1
  r = !git --no-pager l -30
  la = !git l --all
  lstat = log --stat
  div = divergence
  gn = goodness
  gnc = goodness --cached
  fa = fetch --all
  pom = push origin master
  b = branch
  pu = !git fetch origin -v; git fetch upstream -v; git merge upstream/master

  wtf = !~/bin/git-wtf
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"

  # Interactive rebase with the given number of latest commits
  reb = "!r() { git rebase -i HEAD~$1; }; r"
  # Only show my commits with datestamps
  mine = !git log --abbrev-commit --date=local --date-order --author='baphled'

[core]
# Treat spaces before tabs, lines that are indented with 8 or more spaces, and all kinds of trailing whitespace as an error
  whitespace = space-before-tab,indent-with-non-tab,trailing-space

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[merge]
  tool = vimdiff
[push]
	default = current
