dotmutt/cache
Gemfile.lock
.lesshst
.viminfo
.zcompdump
.zsh_history
.ssh
.gem
.rvm
.bundler
.cache
.Xauthority
.mysql_history
.*_history
.irb-history
*.log
*.html
.serverauth.*
.tmuxinator/*.yml
.w3m/w3mtmp*
.w3m/w3mcache*
.w3m/history
.w3m/cookie
.w3m/*.html
.fetchids
.netrc
.newsbeuter/*
.newsboat/*
.msmtprc
.swt
.vagrant.d
.mplayer
.cpan
.fontconfig
yankring_history_v2.txt
.m2
.w3m/w3msrc*
.NERDTreeBookmarks
tags
*.tmp
.local/share
.local/state
VirtualBox VMs
go
Projects
Pictures
Dropbox
Downloads
Documents
Desktop
.zoom
.zlogin
.xsession*
.zcompdump*
.kde
.icons
.cache

.FlashPrint5/
.Immersed/
.ImmersedConf
.android/
.ansible/
.aptitude/
.aws/
.bundle/
.cargo/
.docker/
.dropbox-dist/
.dropbox/
.fonts/.uuid
.fonts/good_time.ttf
.gnome/
.gnupg/
.gtkrc-2.0
.idapro/
.mkshrc
.mozilla/
.npm/
.npmrc
.nvm/
.oracle_jre_usage/
.pki/
.platformio/
.profile
.ruby-version
.rustup/
.solargraph/
.travis.conf
.travis/
.vue-cli-ui/
.vuerc
.yarnrc
.ycm_extra_config.py
Calibre Library/
Core
Videos

.dart-tool/
.dart/
.dartServer/
.flutter
.flutter-devtools/
.gradle/
.java/
.pub-cache/
.wget-hsts
Android/
backups/
opt/
snap/


bin/fastfetch
bin/gpg
bin/nvim

.config/Android Open Source Project/
.config/Cypress/
.config/Docker Desktop/
.config/FlashPrintrc
.config/GIMP/
.config/Google/
.config/Imagerrc
.config/KDE/
.config/MQTT-Explorer/
.config/Microsoft/
.config/PlasmaDiscoverUpdates
.config/QtProject.conf
.config/Raspberry Pi/
.config/SideQuest/
.config/Slack/
.config/TIPP10/
.config/TabNine/
.config/Trolltech.conf
.config/Ultimaker B.V./
.config/Unknown Organization/
.config/VirtualBox/
.config/Webcamoid/
.config/akonadi-firstrunrc
.config/akonadi-migrationrc
.config/akonadi/
.config/akonadi_akonotes_resource_0rc
.config/akonadi_contactrc
.config/akonadi_contacts_resource_0rc
.config/akonadi_ical_resource_0rc
.config/akonadi_indexing_agentrc
.config/akonadi_maildir_resource_0rc
.config/akregatorrc
.config/arkrc
.config/autostart/
.config/balena-etcher-electron/
.config/baloofileinformationrc
.config/baloofilerc
.config/bless/
.config/bluedevilglobalrc
.config/bluedevilreceiverrc
.config/calibre/
.config/calibrerc
.config/cef_user_data/
.config/chromium/
.config/clangd/
.config/configstore/
.config/cura/
.config/curarc
.config/dconf/
.config/device_automounter_kcmrc
.config/discord/
.config/discoverrc
.config/dolphinrc
.config/dragonplayerrc
.config/drkonqirc
.config/emaildefaults
.config/emailidentities
.config/fastfetch/config.conf.bak
.config/flutter/
.config/fontconfig/
.config/fontforge/
.config/github-copilot/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/gtkrc
.config/gtkrc-2.0
.config/guake/
.config/gwenviewrc
.config/htop/
.config/ibus/
.config/kactivitymanagerd-statsrc
.config/kactivitymanagerdrc
.config/kalendaracrc
.config/katemetainfos
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kazam/
.config/kcmfonts
.config/kcminputrc
.config/kconf_updaterc
.config/kde.org/
.config/kdeconnect/
.config/kded5rc
.config/kdedefaults/
.config/kdeglobals
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/kdialogrc
.config/kfontinstuirc
.config/kfontviewrc
.config/kgammarc
.config/kglobalshortcutsrc
.config/khelpcenterrc
.config/khotkeysrc
.config/khtml/
.config/kinfocenterrc
.config/kioclientrc
.config/kiorc
.config/kmail2rc
.config/kmailsearchindexingrc
.config/kmenueditrc
.config/kmixrc
.config/knfsshare
.config/knotesrc
.config/konq_history
.config/konquerorrc
.config/konsolerc
.config/konsolesshconfig
.config/korgacrc
.config/krfbrc
.config/krunnerrc
.config/kscreenlockerrc
.config/kservicemenurc
.config/ksmserverrc
.config/ksplashrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwin_rules_dialogrc
.config/kwinrc
.config/kwinrulesrc
.config/kwritemetainfos
.config/kwriterc
.config/kxkbrc
.config/libaccounts-glib/
.config/libreoffice/
.config/menus/
.config/mimeapps.list
.config/obsidian/
.config/okularpartrc
.config/okularrc
.config/openaiapirc
.config/partitionmanagerrc
.config/phishingurlrc
.config/plasma-localerc
.config/plasma-nm
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasma.emojierrc
.config/plasmanotifyrc
.config/plasmaparc
.config/plasmarc
.config/plasmashellrc
.config/plasmawindowed-appletsrc
.config/plasmawindowedrc
.config/powermanagementprofilesrc
.config/print-manager
.config/pulse/
.config/rusmux/
.config/screenkey.json
.config/sddmthemeinstallerrc
.config/session/
.config/specialmailcollectionsrc
.config/spectaclerc
.config/startupconfig
.config/startupconfigfiles
.config/startupconfigkeys
.config/systemd/
.config/systemmonitorrc
.config/systemsettingsrc
.config/teams/
.config/trashrc
.config/touchegg/.touchegg:0.lock
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/vlcrc
.config/webengineurlinterceptoradblockrc
.config/wireshark/
.config/xdg-desktop-portal-kderc
.config/xsettingsd/
.config/zoom.conf
.config/zoomus.conf
.config/1Password
.config/BraveSoftware
.config/Thunar
.config/chromium
.config/chromium-backup
.config/fish
.config/google-chrome*
.config/micro*
.config/psd
.config/vivaldi*
.config/xfce4
.config/libinput-gestures.conf
.config/garuda/garuda-settings-manager.conf
.steam*
.librewolf
.mongodb
.ollama
vaults
.ipython
.azotebg
.pyenv
.nvidia-settings-rc
.virtualenvs
Work
.calcurse
.config/FreeCAD/
.config/batsignal
.config/nvm/
.config/op/
.config/pacseek/
.config/pavucontrol.ini
.obsidian/
node_modules
.config/gh


.config/Kvantum/
.config/Mousepad/
.config/azote/
.config/bleachbit/
.config/deluge/
.config/environment.d/
.config/eog/
.config/falkon/
.config/mpv/
.config/obs-studio/
.config/plex.tv/
.config/qt5ct/
.config/smplayer/
.config/wallpaper
.luarocks/
.nix-defexpr/
.nix-profile
.rbql_table_index
.var/
Mail/
secrets.zsh
