.Trash/
.lesshst
.profile
Books
Documents
Library
Movies
Music
Pictures
Projects
Downloads
Repos
Sites
Desktop
.viminfo
.zcompdump
.zsh_history
.ssh
.gem
.rvm
yankring_history_v2.txt
.DCOPserver*
.mysql_history
*.log
.mediatomb
.sinan
gem*
.gconf*
.ICEauthority
.bash*
.gftp
.Xauthority
.kde*
.dbus
.aptitude
.cache
.config
.mcop*
.bundler
.heroku
projects
.fontconfig
.gkrellm2
.local
erlang
.npm
.macromedia
.irb-history
.braid
.macports
.serverauth.*
.NERDTreeBookmarks
.swt
dotvim/gist.vim
.dropbox/
.mysql_history
Dropbox/
.quik_cv.rc.yaml
.xsession-errors
.adobe/
.directory
.dmrc
.gstreamer-0.10/
.pki/
.pulse-cookie
.pulse/
.purple/
.qt/
.thumbnails/
.xine/
.vagrant.d/
.CFUserTextEncoding
.DS_Store
Public/
VirtualBox VMs/
