[submodule "dotvim"]
	path = dotvim
	url = git@github.com:baphled/dotvim.git
[submodule "dotmutt"]
	path = dotmutt
	url = git@github.com:baphled/muttfiles.git
[submodule "dotirssi"]
	path = dotirssi
	url = git@github.com:baphled/dotirssi.git
[submodule "tmuxfiles"]
	path = tmuxfiles
	url = git@github.com:baphled/tmuxfiles.git
[submodule "colors/dircolors-solarized"]
	path = colors/dircolors-solarized
	url = git@github.com:seebi/dircolors-solarized.git
[submodule "colors/xfce-terminal"]
	path = colors/xfce-terminal
	url = git@github.com:solarized/xfce4-terminal-colors-solarized.git
